header{
    background:#fff;

    nav{
        ul{
            list-style: none;
            overflow: hidden;
            li{
                float: left;
                a{
                    text-decoration: none;
                    display: inline-block;
                    color: #000;
                    padding: 15px 20px;

                    &:hover{
                        color: white;
                        background: black;
                    }
                }
            }

        }
    }
}