.main{
    width: 70%;
    float: left;
    background: #fff;

    .imagen{
        width: 100%;
        img{
            width: 100%;
            vertical-align: top;
        }
    }
    .post{
        padding: 40px;
        article{
            h2{
                margin-bottom: 20px;
                color: #424242;
            }
            p{
                margin-bottom: 15px;
                line-height: 27px;
            }
        }
    }
}